@charset "utf-8";
/* CSS Dokument */
body {
    background-color:lightpink;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align:center;
}
h1 {
    word-spacing: 2em;
}
a {
    text-decoration: none;
    color:black;
    font-size: 24px;
}
table {
    width:500px;
    margin:auto;
    text-align: left;
}
td {
    background-color:lightyellow;
    color:black;
    width:217px;
    border-style: solid;
    border-width: 1px;
    padding:10px;
}
.gron {
    background-color:lightgreen;
}
.stor-text-tabell {
    font-size:24px;
    text-align:center;
    color:grey;
}
.tabell-bild {
    border-style: solid;
    border-color: red;
    border-width: 5px;
    height:100px;
}

