@charset "utf-8";
/* CSS Dokument */
body {
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    display: block;
    margin: auto;
}
.laxa {
    margin: auto;
    width: 300px;
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
}
.center {
    text-align: center;
}
.akut {
    color: red;
    font-weight: bold;
}