@charset "utf-8";
/* CSS Document */
#idLayer1 {
    position:absolute;
    top:70px;
    left:60px;
    width:200px;
    height:6em;
    background-color:yellow;
    z-index:3;
}
#idLayer2 {
    position:absolute;
    top:0px;
    left:30px;
    width:200px;
    height:6em;
    color:white;
    background-color:blue;
    z-index:1;
}
#idLayer3 {
    position:absolute;
    top:30px;
    left:80px;
    width:200px;
    height:6em;
    background-color:green;
    z-index:2;
}
#idBox {
    position:relative; 
    top:13em;
    text-align:right;
    padding:5px;
    border-style:solid;
    border-width:5px;
    border-color:red;
    width:600px;
    background-image:url("../bilder/giantsquid2.jpg");
}
#idIndragen {
    position:relative;
    top:15em;
    text-indent:10px;
}
.fargoverstruket {
    background-color:yellow;
    letter-spacing:1em;
}
.overstruket {
    text-decoration:line-through;
}

