@charset "utf-8";
/* CSS Document */
* {
    margin: 0px;
    padding: 0px;

    scroll-behavior: smooth;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'article'
    'footer';
    
    border: solid slategrey 1px;
    background-color: whitesmoke;
}
header {
    grid-area: header;
}
.header {
    display: flex;
    
    background-color: slategrey;
    color: white;
    
    padding: 0.5rem;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-inline: 1rem;
}
h1 a{
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;

}
.nav {
    display: flex;
    flex-direction: row;
    position: relative;

    font-size: 1.5rem;
    gap: clamp(0.5rem, 5vw, 5rem);
    transform: translateX(0);
}
.mobile-nav-icon {
    display: none;
}
ul li {
    list-style-type: none;
}

article {
    grid-area: article;
    min-height: 100vh;
}

p {
    margin-block: 1rem;
}

.hero-div {
    background: url(https://labb.vgy.se/~antonlm/projekt/foretag/bilder/boxes.webp) no-repeat;
    background-size: cover;
    min-height: 92vh;

    text-align: center;
}
.hero-header {
    text-align: right;
    margin-inline: 1rem;
}

footer {
    grid-area: footer;
    padding-inline: 1rem;

}

/* Classes for general use */
.subheading {
    font-size: clamp(2rem, 2vw, 5rem);
    text-align: center;
}
.text-center {
    text-align: center;
}
.no-decoration {
    text-decoration: none;
}
.product-div.hide {
    display: none;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Classes for general buttons */
.btn-primary {
    background-color: slategrey;

    border-radius: 5px;
    font-size: 1rem;

    padding: 0.5rem;
    color: white;
}
.btn-primary:hover {
    background-color: steelblue;
    transition: ease 400ms;
}
.btn-primary2 {
    background-color: slategrey;

    border-radius: 5px;
    font-size: 2rem;

    padding: 0.5rem;
    color: white;
}
.btn-primary2:hover {
    background-color: steelblue;
    transition: ease 400ms;
}

.btn-see-more {
    position: absolute;
    bottom: 1rem;

    background-color: transparent;
    color: white;

    border: 1px solid transparent;
    border-radius: 5px;

    cursor: pointer;
    outline: transparent;
    
    font-size: 2rem;
    padding: 1rem;
    
    transition: 300ms ease;
    transform: translateX(-50%);

    text-decoration: none;
}
.btn-see-more:hover {
    border: 1px solid white;
    opacity: 80%;
    background-color: #30333f;
}

.inv-btn {
    background: transparent;
    border: none;
}

.btn-toggle {
    border: none;
    background-color: transparent;

    transition: ease-in-out 250ms;
}
/* Text sizes */
.text-header {
    font-size: clamp(2rem, 5vw, 5rem);
}

/* Text colours */
.text-white {
    color: whitesmoke;
}

/* Hover classes */
.hover-gold:hover {
    color: gold;
}

/* Classes for displaying products */
.product-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;

    margin-top: 1rem;
}
.product-div {
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    'product-info product-buy';

    background-color: white;
    border: solid slategrey 0.125rem;
    border-radius: 5px;

    padding: 2rem;
    gap: 0.5rem;

    display: grid;
    
    margin: 1rem;
    max-width: 30rem;
}

.product-info {
    grid-area: product-info;
}
.product-buy {
    grid-area: product-buy;
}
.btn-buy {
    font-size: clamp(1.5rem, 5vw, 3rem);
    padding: 1rem;

    background: slategray;
    color: white;

    border-radius: 0.5rem;
    border: solid 2px;

    aspect-ratio: 5/1;
}
.btn-buy:hover {
    background: steelblue;
    transition: ease 250ms;
}

/* Classes for displaying products on the startpage */
#gallery-div {
    margin: 2rem;
}
.slide {
    display: none;
    margin: auto;
}
.slide .product-image-preview {
    width: 50%;
    aspect-ratio: 1/1;

    margin: auto;
    display: block;
} 
.slide .product-info {
    text-align: center;
}
.slide .product-info h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}
.slide .product-buy {
    text-align: center;
}

/* Classes for styling content */
.wrapper {
    /* margin-inline: 1rem; */
    margin: auto;
    max-width: 60rem;

    padding: 1rem;
}
.wrapper p {
    margin-bottom: 1rem;
}

/* Classes for compare page */
.comparison-select-container {
    display: grid;
    grid-template-areas: 'picker1 picker2';
    justify-content: space-evenly;

}
.product-picker {
    font-size: 2rem;
    text-align: center;
    width: fit-content;

    border: 1px slategray solid;
    border-radius: 5px;
}
/* IDs for the compare inputs */
#product-picker1 {
    grid-area: picker1;
}
#product-picker2 {
    grid-area: picker2;
}

/* Styles for my cart-page */
.cartItemDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid slategrey;
    border-radius: 5px;

    padding: 1rem;
    margin: 1rem;
}
.cartItemContent {
    padding-right: 1rem;
}
.cartButtonContainer {
    display: flex;
    flex-direction: column;
}

/* Image classes */
.product-image-preview {
    width: 40%;
}

/* For footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background-color: slategray;
    color: white;

    padding-top: 1rem;
    padding-bottom: 2rem;
}
.footer a {
    display: block;
}

@media screen and (max-width: 675px) {
    .product-div {
        grid-template-columns: 100%;
        grid-template-areas: 
        'product-info'
        'product-buy';

        max-width: 100%;
    }
    .product-image-preview {
        width: 100%;
        margin: auto;
    }

    .nav {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;

        flex-direction: column;
        padding: 1rem;

        background-color: black;
        opacity: 80%;
        padding-top: 5rem;

        transform: translateX(-100%);
        transition: all 0.5s ease-in-out;
    }
    .mobile-nav-icon {
        display: block;
    }

    /* Mobile styling for comparison page */
    .comparison-select-container {
        grid-template-areas: 'picker1' 'picker2' 'compare-btn';
        gap: 1rem;
    
    }
}