@charset "utf-8";
/* CSS Document */
* {
    margin: 0px;
    padding: 0px;

    scroll-behavior: smooth;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'article'
    'footer';
    
    border: solid slategrey 1px;
    background-color: whitesmoke;
}
header {
    grid-area: header;
}
.header {
    display: flex;
    
    background-color: slategrey;
    color: white;
    
    padding: 0.5rem;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-inline: 1rem;
}
.nav {
    display: flex;
    flex-direction: row;

    font-size: 1.5rem;
    gap: clamp(1rem, 5vw, 5rem);
}
ul li {
    list-style-type: none;
}

article {
    grid-area: article;
    min-height: 100vh;
}

p {
    margin-block: 1rem;
}

.hero-div {
    background: url(/projekt/foretag/bilder/boxes.webp) no-repeat;
    background-size: cover;
    min-height: 92vh;

    text-align: center;
}
.hero-header {
    text-align: right;
    margin-inline: 1rem;
}

footer {
    grid-area: footer;
    padding-inline: 1rem;

}

/* Classes for general use */
.text-center {
    text-align: center;
}
.no-decoration {
    text-decoration: none;
}
.product-div.hide {
    display: none;
}


/* Classes for general buttons */
.btn-primary {
    background-color: slategrey;

    border-radius: 5px;
    font-size: 1rem;

    padding: 0.5rem;
    color: white;
}
.btn-primary:hover {
    background-color: steelblue;
    transition: ease 400ms;
}
.btn-primary2 {
    background-color: slategrey;

    border-radius: 5px;
    font-size: 2rem;

    padding: 0.5rem;
    color: white;
}
.btn-primary2:hover {
    background-color: steelblue;
    transition: ease 400ms;
}

.btn-see-more {
    position: absolute;
    bottom: 1rem;

    background-color: transparent;
    color: white;

    border: 1px solid transparent;
    border-radius: 5px;

    cursor: pointer;
    outline: transparent;
    
    font-size: 2rem;
    padding: 1rem;
    
    transition: 300ms ease;
    transform: translateX(-50%);
}
.btn-see-more:hover {
    border: 1px solid white;
    opacity: 80%;
    background-color: #30333f;
}

/* Text sizes */
.text-header {
    font-size: clamp(2rem, 5vw, 5rem);
}

/* Text colours */
.text-white {
    color: whitesmoke;
}

/* Hover classes */
.hover-gold:hover {
    color: gold;
}

/* Classes for displaying products */
.product-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;

    margin-top: 1rem;
}
.product-div {
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    'product-info product-buy';

    background-color: white;
    border: solid slategrey 0.125rem;
    border-radius: 5px;

    padding: 2rem;
    gap: 2rem;

    display: grid;
    
    margin: 1rem;

    max-width: 40%;
}

.product-info {
    grid-area: product-info;
}
.product-buy {
    grid-area: product-buy;
}
.btn-buy {
    font-size: clamp(1.5rem, 5vw, 3rem);
    padding: 1rem;

    background: slategray;
    color: white;

    border-radius: 0.5rem;
    border: solid 2px;

    aspect-ratio: 5;
}
.btn-buy:hover {
    background: steelblue;
    transition: ease 250ms;
}

/* Classes for displaying products on the startpage */
#gallery-div {
    margin: 2rem;
}
.slide {
    display: none;
    margin: auto;
}

/* Classes for styling content */
.wrapper {
    margin-inline: auto;
    max-width: 60rem;
}
.wrapper p {
    margin-bottom: 1rem;
}

/* Classes for compare page */
.product-picker {
    font-size: 2rem;
    text-align: center;
    width: fit-content;

    border: 1px slategray solid;
    border-radius: 5px;
}

/* Image classes */
.product-image-preview {
    width: 40%;
}

/* For footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background-color: slategray;
    color: white;

    padding-top: 1rem;
    padding-bottom: 2rem;
}
.footer a {
    display: block;
}

@media screen and (max-width: 600px) {
    .product-div {
        grid-template-columns: 100%;
        grid-template-areas: 
        'product-info'
        'product-buy';
    }
}